<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
      
    <div class="header-body">
      <!-- Card stats -->
      <!-- <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
      <div class="col-xl-3 col-lg-6">
</div>

<div class="col-xl-3 col-lg-6">
</div>


<div class="col-xl-3 col-lg-6">
</div>
</div>
</div>
<br><br><br><br>


<div class="container-fluid">

<div style="text-align: center;" class="h1">
Boost Purchase

</div>
<hr>
<div>
  <div class="alert alert-success" role="alert">
    <strong>Season is!</strong> ending soon get your boost today and enjoy discount
</div>
</div>


<div class="card">
<div class="card-body">
    <div class="row">
        <div class="col-xs-12 ">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="ni ni-app text-orange"></i>Division Boost</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="ni ni-fat-add text-orange"></i>Wins Boost</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="ni ni-lock-circle-open text-orange"></i>TFT Division</a>
              <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false"><i class="ni ni-diamond text-orange"></i>Duo Queue</a>
              <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false"><i class="ni ni-diamond text-orange"></i>Placements</a>

              <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false"><i class="ni ni-diamond text-orange"></i>Normal Draft</a>


            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <div class="col-md-3">
                  <h4 style="text-align: center;">Current Rank</h4>
                  <br>
                  <img src="../assets/img/theme/bos1.png" class="img-responsive">
<br>
<section style="text-align: center;width: 170px;">
    <select class="input-medium"><option value="5">
        Diamond
    </option><option value="4">
        Platinum
    </option><option value="3">
        Gold
    </option><option value="2">
        Silver
    </option><option value="1">
        Bronze
    </option><option value="0">
        Iron
    </option></select>
</section>
<br>
<section style="text-align: center;width: 170px;">
    <select class="input-medium"><option value="5">
        Division I
    </option><option value="4">
        Division II
    </option><option value="3">
        Division III
    </option><option value="2">
        Division IV
   </select>
</section>
             <br>
             <section style="text-align: center;width: 170px;">
                <select class="input-medium"><option value="5">
                    0-20 LP
                </option><option value="4">
                    21-40 LP
                </option><option value="3">
                    41-60 LP
                </option><option value="2">
                    61-80 LP
                </option><option value="1">
                    81-100 LP
                </select>
            </section>
                         
                </div>
                <div  class="col-md-3">
                    <h4 style="float: right;">Desired Rank</h4>
                    <br>
                    <br>
                    <img style="float: right;     margin-right: -58px;
                    " src="../assets/img/theme/bos1.png" class="img-responsive">
<br>
<br>
<section style="float:right;margin-right: -58px;width: 170px;">
    <select class="input-medium"><option value="5">
        Diamond
    </option><option value="4">
        Platinum
    </option><option value="3">
        Gold
    </option><option value="2">
        Silver
    </option><option value="1">
        Bronze
    </option><option value="0">
        Iron
    </option></select>
</section>
<br>

<section style="float: right;margin-right: -58px;width: 170px;margin-top: 12%;">
    <select class="input-medium"><option value="5">
        Division I
    </option><option value="4">
        Division II
    </option><option value="3">
        Division III
    </option><option value="2">
        Division IV
   </select>
</section>

                 </div>
              
<div class="col-md-1">
    <div style="float: right;" class="vl"></div>
</div>

                 <div  class="col-md-5">
        
                    <h3>Your Order</h3>

<br>
<ul>
  <li>Division Boost: Bronze (Division I) -> Silver (Division IV)</li>
  <li>Total Cost: 12€ ($13) 20€ ($22)</li>

</ul>
<br>
<div style="text-align: center;">
    <button type="button" class="btn btn-info">Paypal</button>
    <button type="button" class="btn btn-info">Visa</button>


</div>
<hr>
<div>
  <strong>Every account is VPN protected by our dedicated application.
    </strong>
<p>Contains full boost to 0LP desired league, no additional costs if we fail promotion (we will play until we achieve it).</p>
<br>
<strong>Queues: Solo/Duo (5v5), Flex Summoners Rift (5v5), Flex Twisted Treeline (3v3).
  </strong>
  <p>Service available for North America, Europe West, Europe Nordic & East, Brazil, Latin America, Russia, Turkey, Oceania and Japan!</p>
</div>

                  </div>
              

              </div>

            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="row">

                <h3 style="padding-left:2% ;">Champions</h3>
              </div>
              <hr style="border:1px dotted;color: grey;">
              
              <section>
                <div class="row">
                  <div class="col-md-12">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                  </div>
              
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                    </div>
                
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      </div>
                  
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        </div>
                    
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          </div>
                      
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        
                            </div>
                        
                          </div>
              </section>
              <br>
              <p style="color: grey;"> <strong>Lorem Ipsum </strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
              <br><div class="row">
                  <div class="col-md-12">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
              
                  </div>
              
                </div>
                <br>
                <div class="row">

                    <h3 style="padding-left:2% ;">Roles</h3>
                  </div>
                  <hr style="border:1px dotted;color: grey;">
                  <br>
                  <div class="row">

                    <div class="col-md-2">
                        <label class="checkbox">
                            <input checked="checked" name="roles[]" type="checkbox" value="top">
                            <i></i>&nbsp; Top
                            </label>
                    </div>
                    <div class="col-md-2">
                            <label class="checkbox">
                            <input name="roles[]" type="checkbox" value="jungle">
                            <i></i>&nbsp; Jungle
                             </label>
                    </div>
                    <div class="col-md-2">
                            <label class="checkbox">
                            <input checked="checked" name="roles[]" type="checkbox" value="mid">
                            <i></i>&nbsp; Mid
                            </label>
                    </div>
                    <div class="col-md-2">
                            <label class="checkbox">
                            <input name="roles[]" type="checkbox" value="support">
                            <i></i>&nbsp; Support
                            </label>
                    </div>
                    <div class="col-md-2">
                            <label class="checkbox">
                            <input name="roles[]" type="checkbox" value="bot">
                            <i></i>&nbsp; Bot
                            </label>
                            </div>
                  
                  </div>

                  <br>
                <div class="row">

                    <h3 style="padding-left:2% ;">Chat</h3>
                  </div>
                  <hr style="border:1px dotted;color: grey;">
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <section style="float: left;">
                          <label class="checkbox">
                              <input name="roles[]" type="checkbox" value="bot">
                              <i></i>&nbsp; Offline Mode
                              </label>
                      
                      </section>
                    </div>
                    <div class="col-md-6"></div>

                  </div>

                  <br>
                  <div class="row">
  
                      <h3 style="padding-left:2% ;">Notes</h3>
                    </div>
                    <hr style="border:1px dotted;color: grey;">
                    <br>
                    <div class="row">
              
                      <div class="col-md-12">
                        <section style="margin-bottom: 15px;
                        position: relative;
                    ">
                          <label class="textarea"> <i class="icon-prepend fa fa-book"></i>
                            <textarea style="  position: relative;
                            display: block;
                            font-weight: 400;
                            min-width: 910px!important;" rows="5" placeholder="Here you can place any additional requests." name="notes" cols="50">Please use Flash on D</textarea>
                            </label>
                          </section>
                      </div>
                    </div>
                    <br><br>
                    <button style="float: right;" class="btn btn-primary" type="button">Submit</button>
    <br>
            </div>

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="alert alert-default alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="ni ni-lock-circle-open text-orange"></i></span>
                    &nbsp;
                    <span class="alert-inner--text"><strong>Choose Booster(Optional)!</strong> This is a secondary alert—check it out!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <select id="sel" name="booster"><option value="0"></option></select>
                <br><br>
                <button style="float: right;" class="btn btn-primary" type="button">Submit</button>
<br>
            </div>
            <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                <div class="alert alert-default alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="fa fa-gift text-orange" aria-hidden="true"></i>
                    </span>
                    &nbsp;
                    <span class="alert-inner--text"><strong>Gift Booster(Optional)!</strong> <br> If you like you can reward your favorite booster with small tip! <br>
                      Please select booster name from list below</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
<div class="col-md-6">
<section>
    <label class="select">
        <select id="bs1" name="booster"><option value="0"></option><option value="45">Booster</option></select>
        <i></i>
        </label>
</section>


</div>



<div style="float: right;" class="col-md-6">
  <section>

      <label class="select">
          <select id="bs2" name="cost"><option value="5">5€</option><option value="10">10€</option><option value="15">15€</option><option value="20">20€</option><option value="25">25€</option><option value="30">30€</option><option value="40">40€</option><option value="50">50€</option><option value="100">100€</option></select>
          <i></i>
          </label>
  </section>
</div>


                </div>
            </div>
          </div>
        
        </div>
      </div>

</div>

</div>
<br>
<h1>Promotional code</h1>
<br>
<div style="background-color: aliceblue;height: 70px;" class="post"><div class="row promotional-code"><div class="col-sm-12 col-md-6 col-lg-3"><div class="input-group"><input type="text" placeholder="Promotional Code" class="form-control"> <span class="input-group-btn"><button type="submit" class="btn btn-primary">Apply</button></span></div></div> <div class="col-md-6 message"><span>Enter code to get discount for your purchase.</span></div></div></div>

</div>
<br>
<div class="container">

<h1 style="text-align: center;">How it Works</h1>

<br>
<ol style="color: white;">
  <li>Choose your Current tier and desired tier or wins amount.
    </li>
  <li>Press payment method button (PayPal) - you will be redirected to checkout page.
    </li>
  <li>After, you will be redirected back to our website to the “Account Creation” page. We’ll follow up with a confirmation email.
    </li>
<li>After you receive the email, sign in with your brand-new account and head to your order and follow further instructions!
  </li>

</ol>
<br>

<div style="color: white;">
  <strong>    Who are we?
    </strong>
    <br>
    In a nutshell, we are a group of experienced, helpful, and friendly high-rank LoL players. Our goal is to provide you our time and expertise as well-vetted League players the absolute most seamless order experience we possibly can. Everyone’s goals are different, and we do our absolute best to cater to each clients specific needs to the best of our ability. We both love playing League and helping our customers reach their own rating goals as best we can. The reason this works for us is because we adore this game and love helping other players succeed in reaching their rank-goals at a much, much quicker pace than normally possible.
    <br>
<br>
    <strong>    Is it honorable?
      </strong>
      <br>
    Some people say that our service is immoral but we can not agree with it. If asked, our group of players can provide a quick MMR rating for your account, but this is not the limit or intention of our service. Our goal is to help our customers rank-up quickly, but also to coach them in a way that improves their own game-play based on our boosters example. Our goal is not to simply “get you x rank”, but to help you improve your own game-play. Having a senior level and experienced friend in any indevour will always benefit the less experienced player/person, and we think this is absolutely the case in LoL. We want you to succeed and we’re here to help you do that.
    <br><br>
    <strong>  Free coaching by spectating.</strong>
<br>  
    Not only can we provide a quick boost in you rank, but our primary goal is to help each individual player recognize their own weaknesses and work towards providing ways to conquer those weaknesses. In LoL you are often paired with teammates who fight against your teams success, and this is inevitable. By spectating our boosters and asking them questions you can circumvent these difficulties by being provided real-time advice on how to best handle these inevitable situations (all questions should be in Support Chat in your Order Details). You’re not only purchasing assistance in ranking your account up, but also in improving your own game-time decision making and playstyle.
    <br><br>

    <strong>    How it Works?
      </strong>
      <br>
    If you’ve followed our ethos up until this point, we can assure you that our boosters will always respect other players while assisting you in your rank goals. The encrypted and secure system we use to log our boosters into your account will never allow anyone but you, the account owner, to see the actual account information when logging in. This provides a full-proof level of security and peace of mind that our competitors do not offer. As part of our code of conduct, our boosters are not allowed to “Add Friends” or even touch your IP/RP. As a rule of thumb your order will usually take 8-24 hours for each 100 LP.
    <br><br>

    <strong>    Why elo-boost.net is right choice?</strong>
<br>
    - possibility to pause your order - then you can play normal games with your friends!
    - anonymous, our boosters will not stream games played on your account, will never speak to anyone except for in-game communication with random players.
    - easy communication with boosters, do not be afraid asking questions. It is all inclusive!
    - posibility to choose specific champions and roles which will be played by our boosters.





</div>

</div>