<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <!-- <div class="row">
        
      </div> -->
    </div>
  </div>
</div>
  <div class="container-fluid">

<div class="card">

<div class="card-header">
  <h1>Payments </h1>
</div>

<div class="card-body">
  <div class="row">

    <div class="col-md-4"><label for="">Date: </label></div>
    <div class="col-md-4"><label for="">Account Title:</label></div>

    <div class="col-md-4"><label for="">Account ID:</label></div>

  </div>
  <hr>
  <div class="row">

    <div class="col-md-4"><label for="">Balance: </label></div>
    <div class="col-md-4"><label for=""></label></div>

    <div class="col-md-4"><label style="color: green;" for="">1000 US$</label></div>

  </div>
  <hr>
  <div class="row">

    <div class="col-md-4"><label for="">Withdrawal amount </label></div>
    <div class="col-md-4"><input id="checkw" type="number" placeholder="enter desired amount"></div>

    <div class="col-md-4"><button type="button" class="btn btn-primary">Withdraw</button>
    </div>

  </div>
  
</div>




</div>



<hr>
<h2>Payments History</h2>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>24/10/2019</td>
      <td>100 US$</td>
      <td>      <span class="badge badge-dot mr-4">
        <i class="bg-warning"></i> pending
      </span></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>02/11/2019</td>
      <td>50 US$</td>
      <td>   <span class="badge badge-dot">
        <i class="bg-success"></i> completed
      </span></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>01/10/2019</td>
      <td>70 US$</td>
      <td>   <span class="badge badge-dot">
        <i class="bg-success"></i> completed
      </span></td>
    </tr>
  </tbody>
</table>




  </div>