<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
      <div class="alert alert-primary" role="alert">
          <strong> Heads up!</strong> 
<br>
          Below we show some functionalities of our advanced systems. After purchase you get an access to Members Area, where you can enter your LoL Account Credentials, view current stats like Top 3 Champions or Match History. You can also Pause your order, if you want to play some Normals, Ranked Teams or Custom Games.
        </div>
        
        <div class="alert alert-info" role="alert">
            Currently none of our boosters is working on boosting rating on your account.
            You can pause it and play some normals, but remember, that our boosters are not able to play on your account when your order is paused.
            
<hr>
<button class="btn btn-primary" type="button">Pause</button>

        </div>
        
      
    <div class="header-body">
      <!-- Card stats -->
      <!-- <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
      <div class="col-xl-3 col-lg-6">
</div>

<div class="col-xl-3 col-lg-6">
</div>


<div class="col-xl-3 col-lg-6">
</div>
</div>
</div>
<br><br><br><br>


<div class="container-fluid">


    <div class="row">
        <div class="col-xs-12 ">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="ni ni-app text-orange"></i>Game Account</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="ni ni-fat-add text-orange"></i>Champion & Roles</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="ni ni-lock-circle-open text-orange"></i>Assign Booster</a>
              <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false"><i class="ni ni-diamond text-orange"></i>Gift Booster</a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <div class="col-md-6">
                <section >                        <label class="input"> <i class="icon-prepend fa fa-user"></i>
                        <input placeholder="Username" name="login" type="text" value="Demo">
                        </label>
                      </section>

                </div>
                <div  class="col-md-6">
                  <section style="float: right;">
                  <label class="input"> <i class="icon-prepend fa fa-key"></i>
                  <input placeholder="Password" name="password" type="password" value="Demo">
                  </label>
                </section></div>

              </div>
              <br>
              <div class="row">
                  <div class="col-md-6">
                  <section>
                      <label class="select">
                          <select disabled="" name="queue_id"><optgroup label="Queue Type:"><option value="2" selected="selected">Solo/Duo (5v5)</option><option value="1">Flex Summoners Rift (5v5)</option><option value="6">Flex Twisted Treeline (3v3)</option></optgroup></select>
                          <i></i>
                          </label>
                          </section>
                  </div>

                  <div class="col-md-6">
                    <section style="float: right;"><label class="select">
                      <select name="region"><optgroup label="Region:"><option value="1" selected="selected">Europe West</option><option value="2">Europe Nordic &amp; East</option><option value="3">North America</option><option value="4">Brazil</option><option value="5">Russia</option><option value="6">Latin America North</option><option value="7">Oceania</option><option value="8">Turkey</option><option value="9">Latin America South</option><option value="10">Japan</option></optgroup></select>
                      <i></i>
                      </label>
                    </section></div>
  
                </div>
                <br>
                <button style="float: right;" class="btn btn-primary" type="button">Submit</button>
<br>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="row">

                <h3 style="padding-left:2% ;">Champions</h3>
              </div>
              <hr style="border:1px dotted;color: grey;">
              
              <section>
                <div class="row">
                  <div class="col-md-12">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                  </div>
              
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                    </div>
                
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      </div>
                  
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                            <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        </div>
                    
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                              <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                          </div>
                      
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                                <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                        
                            </div>
                        
                          </div>
              </section>
              <br>
              <p style="color: grey;"> <strong>Lorem Ipsum </strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
              <br><div class="row">
                  <div class="col-md-12">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-2-800x800.jpg" alt="Avatar" class="avatar">
                      <img src="../assets/img/theme/team-1-800x800.jpg" alt="Avatar" class="avatar">
              
                  </div>
              
                </div>
                <br>
                <div class="row">

                    <h3 style="padding-left:2% ;">Roles</h3>
                  </div>
                  <hr style="border:1px dotted;color: grey;">
                  <br>
                  <div class="row">

                    <div class="col-md-2">
                        <label class="checkbox">
                            <input checked="checked" name="roles[]" type="checkbox" value="top">
                            <i></i>&nbsp; Top
                            </label>
                    </div>
                    <div class="col-md-2">
                            <label class="checkbox">
                            <input name="roles[]" type="checkbox" value="jungle">
                            <i></i>&nbsp; Jungle
                             </label>
                    </div>
                    <div class="col-md-2">
                            <label class="checkbox">
                            <input checked="checked" name="roles[]" type="checkbox" value="mid">
                            <i></i>&nbsp; Mid
                            </label>
                    </div>
                    <div class="col-md-2">
                            <label class="checkbox">
                            <input name="roles[]" type="checkbox" value="support">
                            <i></i>&nbsp; Support
                            </label>
                    </div>
                    <div class="col-md-2">
                            <label class="checkbox">
                            <input name="roles[]" type="checkbox" value="bot">
                            <i></i>&nbsp; Bot
                            </label>
                            </div>
                  
                  </div>

                  <br>
                <div class="row">

                    <h3 style="padding-left:2% ;">Chat</h3>
                  </div>
                  <hr style="border:1px dotted;color: grey;">
                  <br>
                  <div class="row">
                    <div class="col-md-6">
                      <section style="float: left;">
                          <label class="checkbox">
                              <input name="roles[]" type="checkbox" value="bot">
                              <i></i>&nbsp; Offline Mode
                              </label>
                      
                      </section>
                    </div>
                    <div class="col-md-6"></div>

                  </div>

                  <br>
                  <div class="row">
  
                      <h3 style="padding-left:2% ;">Notes</h3>
                    </div>
                    <hr style="border:1px dotted;color: grey;">
                    <br>
                    <div class="row">
              
                      <div class="col-md-12">
                        <section style="margin-bottom: 15px;
                        position: relative;
                    ">
                          <label class="textarea"> <i class="icon-prepend fa fa-book"></i>
                            <textarea style="  position: relative;
                            display: block;
                            font-weight: 400;
                            min-width: 910px!important;" rows="5" placeholder="Here you can place any additional requests." name="notes" cols="50">Please use Flash on D</textarea>
                            </label>
                          </section>
                      </div>
                    </div>
                    <br><br>
                    <button style="float: right;" class="btn btn-primary" type="button">Submit</button>
    <br>
            </div>

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="alert alert-default alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="ni ni-lock-circle-open text-orange"></i></span>
                    &nbsp;
                    <span class="alert-inner--text"><strong>Choose Booster(Optional)!</strong> This is a secondary alert—check it out!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <select id="sel" name="booster"><option value="0"></option></select>
                <br><br>
                <button style="float: right;" class="btn btn-primary" type="button">Submit</button>
<br>
            </div>
            <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                <div class="alert alert-default alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="fa fa-gift text-orange" aria-hidden="true"></i>
                    </span>
                    &nbsp;
                    <span class="alert-inner--text"><strong>Gift Booster(Optional)!</strong> <br> If you like you can reward your favorite booster with small tip! <br>
                      Please select booster name from list below</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
<div class="col-md-6">
<section>
    <label class="select">
        <select id="bs1" name="booster"><option value="0"></option><option value="45">Booster</option></select>
        <i></i>
        </label>
</section>


</div>



<div style="float: right;" class="col-md-6">
  <section>

      <label class="select">
          <select id="bs2" name="cost"><option value="5">5€</option><option value="10">10€</option><option value="15">15€</option><option value="20">20€</option><option value="25">25€</option><option value="30">30€</option><option value="40">40€</option><option value="50">50€</option><option value="100">100€</option></select>
          <i></i>
          </label>
  </section>
</div>


                </div>
            </div>
          </div>
        
        </div>
      </div>


  </div>
</div>

</div>
<br>

<div class="container-fluid">
  <div class="row">

<div class="col-md-6">

<div class="card">
<div class="card-header"> <h3 style="color: white;">Order Details</h3> <br>
  <div class="row" style="background-color: chartreuse;margin-bottom: -5%;">
      <div class="col-md-6">
        <section style="float: left;">Wins:25</section>
      </div>
      <div class="col-md-6">
        <section style="float: right;">Defeats:3</section>
      </div>
  
    </div>
</div>
<div class="card-body" style="min-height: 400px; max-height: 400px;">
  
  <div class="row">

    <div class="col-md-4">
      <section style="float: left;"> Started</section>
      <section style="width:140px">
      <img style="display: block;
      max-width: 100%;
      height: auto;
  " src="../assets/img/theme/avatar1.jpg" alt="Avatar" >
    </section>
    </div>
    <div class="col-md-4"> <section style="text-align:center;">Current</section>
      <section style="width:140px">
          <img style="display: block;
          max-width: 100%;
          height: auto;
      " src="../assets/img/theme/avatar2.jpeg" alt="Avatar" >
        </section> </div>
    <div class="col-md-4"><section style="float: right;">Desired</section>
      <section style="width:140px">
          <img style="display: block;
          max-width: 100%;
          height: auto;
      " src="../assets/img/theme/avatar3.jpeg" alt="Avatar" >
        </section>  </div>


  </div>
  <br><br><br><br><br><br><br>
  <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
      aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:40%;height: 150%;">
      </div>
    </div>
</div>

</div>




</div>



<div class="col-md-6">

    <div class="card">
    <div class="card-header"> <h3 style="color: white;">Chat</h3> <br>
      
    </div>
    <div class="card-body" style="min-height: 400px;max-height:400px;">
        <div class="container">
            <img src="/assets/img/brand/av1.png" alt="Avatar">
            <p>Hello. How are you today?</p>
            <span class="time-right">11:00</span>
          </div>
          
          <div class="container darker">
            <img src="/assets/img/brand/av2.png" alt="Avatar" class="right">
            <p>Hey! I'm fine. Thanks for asking!</p>
            <span class="time-left">11:01</span>
          </div>
          
          <div class="container">
            <img src="/assets/img/brand/av1.png" alt="Avatar">
            <p>Sweet! So, what do you wanna do today?</p>
            <span class="time-right">11:02</span>
          </div>
          
          <div class="container darker">
            <img src="/assets/img/brand/av2.png" alt="Avatar" class="right">
            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
            <span class="time-left">11:05</span>
          </div>
          <div class="container">
            <input style="margin-top:7%" type="text" size="38">
            <button>send</button>
          </div>
          </div> 
    
    </div>
    
    
    
    
    </div>

  </div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you ant to claim this order
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">YES</button>
        </div>
      </div>
    </div>
  </div>